
<br class="clear" />

 
 <h1 style="margin-left:27%;">Cadastrar Publicação</h1>    <br class="clear" />
 <div class="wrapper ">
  <div class="container">
  
  <div class="content">
	   
      <div id="respond">
        <form action="?pagina=admin&metodo=insert" method="post" enctype="multipart/form-data">
		
       <div style="margin-left:auto;margin-top:7%;"><img style="margin-top:5px;"class="imgl" id="prev"  alt="" width="80" height="140px;" /></div>
	 <p>
           <input style="width:82%;" type="file"  onchange=""  id="imagem"  name="imagem"> 
          </p>
		<p>
            <input style="width:75%;height:20px;" placeholder="Cadastrar Assunto"type="text" class="ti" maxlength="50" name="mail" id="ti" value=""  />
            <label for="name"class="caracter"><small><img style=" margin-top:-118px;float: right;" id="tit" onclick="cadAssunto();" class="imgl" src="app/Template/news-magazine/images/demo/plus.png" alt="" width="25" height="20" /></small></label>
          </p>
		<p>
		
            <select id="select"class="sec" style="width:83%;margin-top:12px;"name="select">
			
		              {% for postagem in lista %}
            <option value="{{postagem.id}}">{{postagem.descricao}}</option>
            
			{% endfor %}
            </select>
			<!--<input style="width:82%;height:20px;" placeholder="Assunto"type="text" maxlength="300" name="titulo"id="titu" value=""  />-->
            <label for="name"class="caracter"><small></small></label>
          </p>
        
           <p>
            <input style="width:82%;height:20px;" placeholder="Título da postagem"type="text" maxlength="100" name="titulo"id="titul" value=""  />
            <label style="float:right;margin-left:20px;" for="name"class="caractere"><small></small></label>
          </p>
		  <p>
            <input style="margin-top:-20px;margin-left:100px;width:82%;height:20px;" placeholder="Insirir texto para pré-visualização"type="text"  name="stv"  id="subtitulo" value=""/>
            <label style="float:right;margin-left:-21px;" for="name"class="caractere"><small></small></label>
          </p>
		    <p> <input style="margin-left:20px;margin-top:2px;float:left;" type = "checkbox" id = "codificação" name = "destaque[]" checked value = "Destado" >
          <label for="comment" style="margin-left:-80px;"><small>Destacar publicação</small></label> </p>
           <p>
         

		 <textarea    name="conteudo" maxlength="2000" style="width:99%;height:400px;" id="comentario" cols="30" rows="10"></textarea>          
	 <label for="comment" style="display:none;"><small>Postagem</small></label>
          </p>
		  
		
          <p>
            <input name="submit" type="submit" id="submit" value="Publicar" />
            &nbsp;
            <input name="reset" type="reset" id="reset" tabindex="5" value="Apagar" />
          </p>
		  <p><label for="review"></label> <small class="caracteres"></small></p>

        </form>
      </div>
    </div></div></div>
	 <script src="app\Template\news-magazine\ckeditor\ckeditor.js"></script>
	 <!--<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>-->
	 <script src="app\view\ckfinder\ckfinder.js"></script>
<script>
CKFinder.setupCKEditor();
    CKEDITOR.replace( 'comentario' );
</script>
  
